
.slider {
    background-image: url('./img/packages-page/phuket-img.jpg');
    max-height: 320px;
}

.content {
    display: flex;
}

.slider-content {
    position: absolute;
    top: 75%;
    right: 0;
}

.slider__title {
    font-size: 45px;
    color: #fff;
    font-weight: bold;

}

.slider__info {
    display: flex;
    margin-top: 20px;
}

.slider__location {
    display: flex;
    margin-right: 30px;
}

.slider__location-icon {
    height: 20px;
    width: 20px;
    color: #fff;
    margin-right: 10px;
}

.slider__location-name {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;

}

.content {
    margin-top: -300px;
}

.introduce__type {
    display: flex;
}

.introduce__type-item {
    display: flex;
    flex: 1;
}

.introduce__type-img {
    height: 40px;
    width: 40px;
    margin-right: 15px;
}

.introduce__type-name {
    font-size: 16px;
    font-weight: bold;
}

.introduce__type- {
    font-size: 16px;
    color: #878787;
    letter-spacing: 1px;
}

.introduce__img {
    width: 100%;
    background-repeat: no-repeat;
    margin-top: 30px;
}

.introduce__list {
    margin-top: 30px;
}

.introduce__list-title {
    display: flex;
    list-style: none;
}

.introduce__list-item {
    font-size: 16px;
    text-transform: uppercase;
    padding: 5px 15px;
    border-radius: 30px;
    margin-right: 15px;
    color: #000;
}

.introduce__list-item.active {
    background-color: #14b9d5;
    color: #fff;
}

.introduce__type-content {
    margin-top: 30px;
}

.introduce__content-name {
    font-size: 30px;
    font-weight: bold;

}

.introduce__content-pag {
    font-size: 18px;
    color: #878787;
}

.feedback__name {
    font-size: 30px;
    padding: 40px;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
}

.feedback__input {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid #f1f1f1;
}

.feedback__input-container {
    padding: 15px;
}
.feedback__input-info {
    display: flex;
    margin: 20px 0 0 0;
    font-size: 16px;
    background-color: #f9f9f9;
    border-radius: 30px;
    padding: 10px;
    outline: none;
    width: 100%;

}

.feedback__input-name {
    font-size: 16px;
    background-color: #f9f9f9;
    border-radius: 30px;
    padding: 10px;
}

.feedback__input-email {
    font-size: 18px;
    padding: 10px 20px;
}

.feedback__input-btn {
    margin-top: 30px;
    font-size: 20px;
    color: #fff;
    border-radius: 30px;
    border: none;
    text-transform: uppercase;
    padding: 10px;
}




