
.nav__item--btn {
    background-color: #f76570;
}
.slider {
    position: relative;
    padding-top: 50%;
    background-image: url('../assets/img/parallax-search-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: -104px;
    height: 50%;
    left: 0;
    right: 0;
    z-index: 0;
}

.slider-content {
    position: absolute;
    top: 200px;
    left: inherit;
    right: inherit;
    padding: 0 15px;

}

.slider__title {

}

.slider__title-sub-heading {
    font-size: 14px;
    color: #fff;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-weight: 500;
}

.slider__title-heading {
    font-size: 40px;
    color: #fff;
    font-weight: bold
}

.slider-title-heading-underline {
    position: relative;
}

.slider-title-heading-underline::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #e27557;
    bottom: 6px;
    left: 0;
    z-index: -1;
}

.slider__selection {
    position: relative;
    margin-top: 40px;
    background-color: #fff;
}
.slider__selection-content {
    padding: 35px;
    display: flex;
}
.selctor-destination {
    padding: 10px;
    width: 100%;
}
.selection-option {
    position: relative;
    width: 100%;

}

.selection-option__progress {
    width: 100%;
    height: 5px;
    border: none;
}
.selctor-destination__title {
    font-size:  16px;
    color: #555;
    font-weight: bold;
    margin-bottom: 20px;
}

.selctor-destination__price {
    margin-left: 200px;
}
.selctor-destination__input,
.selection-option__input {
    cursor: pointer;
    border: 1px solid #f1f1f1;
    border-radius: 30px;
    font-size: 16px;
    color: #999;
    padding: 10px 15px;
    width: 100%;
    -webkit-appearance: none;
    background-color: #f9f9f9;
    box-sizing: border-box;
    outline: none;
    
}

.selection-option__img {
    position: absolute;
    width: 20px;
    right: 15px;
    top: 10px;
}

.content {
    margin-top: 0px;
}

.packages__list {
    flex-wrap: wrap;
}


.thailandia-icon-color {
    background: linear-gradient(to right, #14b9d5 0%, #14d5b1 100%);;
}
.thailandia-btn-color {
    background-color: #14b9d5;
}

.amsterdam-icon-color {
    background: linear-gradient(to right, #f3a46b 0%, #f3c96b 100%);
}

.amsterdam-btn-color {
    background-color: #f3a46b;
}

.tuscany-icon-color {
    background: linear-gradient(to right, #1bbc9b 0%, #1bbc63 100%);
}

.tuscany-btn-color {
    background-color: #1bbc9b;
}

.selection-option__checkbox {
    margin-top: 15px;
}

.selection-option__checkbox-description {
    font-size: 16px;
    color: #999;
    padding-left: 10px;
}

.slider__filter {
    position: absolute;
    bottom: -16px;
    right: 42%;
    background-color: #e27557;
    padding: 7px 20px;
    border-radius: 30px;
    text-align: center;
}

.slider__filter:hover .filter__selection {
    display: block;
}

.slider__filter-icon {
    color: #fff;
    font-size: 12px;
    padding-right: 10px;;
}

.slider__filter-title {
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
}

.filter__selection {
    position: absolute;
    bottom: -260px;
    right: -150%;
    background-color: #fff;
    min-width: 700px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    display: none;
}

.filter__selection:before {
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    position: absolute;
    border-color: transparent transparent var(--white-color) transparent;
    right: 46%;
    top: -30px;

}
.filter__content {
    padding: 25px;
    display: flex;
}

.filter__content-list {
    padding: 15px;
}

.filter__content-list ul {
    list-style: none;
    padding-left: 0;
    text-align: left;
}   

.filter__content-title {
    font-size: 16px;
    color: #555;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 25px;
}

.filter__content-item {
    font-size: 16px;
    color: #9a9a9a;
    letter-spacing: 1px;
    margin: 10px 0;
}

.filter__content-item-checkbox {
    margin-right: 10px;
}

.slider__option {
    margin-top: 100px;
    
}

.slider__option-content {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.slider__option-filter {
    display: flex;
    position: relative;

}

.slider__option-name:hover .slider__option-name-filter{
    display: block;
}

.slider__option-name {
    position: relative;
}

.slider__option-name-filter {
    position: absolute;
    left: 0;
    top: 40px;
    display: none;
    min-width: 150px;
    text-align: left;
}

.slider__option-name:before {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 35px;
    bottom: -32px;
    /* background-color: #14b9d5; */

}

.slider__option-name-filter-item {
    font-size: 12px;
    color: #9a9a9a;
    background-color: #5d5d5d;
    padding: 15px 20px;
    letter-spacing: 1px;
    text-decoration: none;
    display: block;
}
.slider__option-name-filter-item-2 {
    font-size: 12px;
    color: #9a9a9a;
    background-color: #555;
    padding: 15px 20px;
    letter-spacing: 1px;
    text-decoration: none;
    display: block;
}



.slider__option-name {
    display: flex;
    text-align: center;
    margin: 10px;

}

.slider__option-name-title {
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    margin-right: 10px;
}

.slider__option-name-icon {
    color: #fff;
    font-size: 10px;
    margin-top: 4px;

}
.slider__option-icon {
    margin-top: 7px;
}
.slider__option-icon i {
    font-size: 25px;
    color: #9a9a9a;
    padding: 0 10px;
}






